<h1 style = "text-align: center; font-size: 48px;">MOVIE RATING PREDICTION WITH PYTHON<h1>

<h2>Introduction</h2>

<p>
Movies are without a doubt, an essential part of the modern age. Each Movie has a story to tell, an idea to share, or a case to defend.
This dataset is pulled from IMDb.com of all the Indian movies on the platform. <br>
Our task today will be to clean this data by different method, and to provide some usefull insight into how to the dataset is partitioned, accompagned by studying the relationship between different Features.
All of this will be assembled into what we call, A Data Preprocessing Pipeline. More on that later on.
</p>

<h2>Page Index</h2>
<ol>
    <li>Data collection</li>
    <li>Data processing</li>
    <li>Data visualization</li>
    <li>Model initialisation</li>
    <li>Valuation and optimization of the prediciton module</li>
</ol>

<h2>Data Collection</h2>

<h3>Source</h3>

The data has been collected from the famous website <i>Kaggle</i> which contains many usefull data set and informations.<br>
Link : <a href="https://www.kaggle.com/datasets/adrianmcmahon/imdb-india-movies">IMDb India Movies</a>

<h3>Libraries</h3>

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import sklearn as skl

In [2]:
print('Pandas version is : ', pd.__version__)
print('NumPy version is : ', np.__version__)
print('Seaborn version is : ', sns.__version__)
print('matplotlib version is : ', plt.matplotlib.__version__)
print('sklearn version is : ', skl.__version__)

Pandas version is :  2.0.3
NumPy version is :  1.24.3
Seaborn version is :  0.12.2
matplotlib version is :  3.7.2
sklearn version is :  1.3.0

<h3>Importing the dataset</h3>

In [3]:
df = pd.read_csv('IMDb Movies India.csv')
pd.set_option('display.max_rows', 150)  # The maximum number of rows/entries allowed to display for each function.
pd.set_option('display.max_columns', 150)  # The maximum number of features/columns to display for each function.

In [4]:
df.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

<h3>Understanding the dataset</h3>

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15509 entries, 0 to 15508
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      15509 non-null  object
 1   Year      14981 non-null  object
 2   Duration  7240 non-null   object
 3   Genre     13632 non-null  object
 4   Rating    7919 non-null   float64
 5   Votes     7920 non-null   object
 6   Director  14984 non-null  object
 7   Actor 1   13892 non-null  object
 8   Actor 2   13125 non-null  object
 9   Actor 3   12365 non-null  object
dtypes: float64(1), object(9)
memory usage: 1.2+ MB

<div style="width: 90%;margin:auto; background-color: #fff; padding: 20px; border-radius: 8px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);">
    <h1 style="text-align: left; color: #333;">Movie Rating Dataset Description</h1>
    <p>In our dataset, we observe the following:</p>
    <ol>
        <li>There are a total of <span style="font-weight: bold; color: #555;">15,509</span> entries/rows.</li>
        <li>Each movie entry includes <span style="font-weight: bold; color: #555;">10</span> different features:</li>
    </ol>
    <ul>
        <li><span style="font-weight: bold; color: #555;">Name</span>: The title of the movie (string value).</li>
        <li><span style="font-weight: bold; color: #555;">Year</span>: The year in which the movie was released (integer).</li>
        <li><span style="font-weight: bold; color: #555;">Duration</span>: The length of the movie in minutes (float).</li>
        <li><span style="font-weight: bold; color: #555;">Genre</span>: The genre of the movie (string).</li>
        <li><span style="font-weight: bold; color: #555;">Rating</span>: A rating on a scale from 0 to 10, indicating viewer satisfaction (float).</li>
        <li><span style="font-weight: bold; color: #555;">Votes</span>: The number of people who have rated the movie.</li>
        <li><span style="font-weight: bold; color: #555;">Director</span>: The director of the movie.</li>
        <li><span style="font-weight: bold; color: #555;">Actor 1</span>: The main actor of the movie.</li>
        <li><span style="font-weight: bold; color: #555;">Actor 2</span>: The second main actor of the movie.</li>
        <li><span style="font-weight: bold; color: #555;">Actor 3</span>: The third main actor of the movie.</li>
    </ul>
</div>

<h2>Data Preprocessing</h2>

<p>
One of the most common way to handle any dataset in order to feed it to a prediction model or any sort of models, is to build what we call a 'Data Pipeline'.<br>
This will guide us into building a much cleaner and more presentable study case, and to ensure our models are as efficient and noise free as possible. <br>
    First, let's analyse in depth our dataset:
</p>

In [6]:
df.isna().sum()

Name           0
Year         528
Duration    8269
Genre       1877
Rating      7590
Votes       7589
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

Here we notice some intresting stuffs:<br>
    + 528 movies don't have their year of publishement.<br>
    + We are missing the duration for 8269 movies!.<br>
    + 1877 Movies are missing their genre.<br>
        .<br>
        .<br>
        .<br>
    <br>

We also notice that the Feature 'Genre' contains entries which consist of multiple genre, it's better to decompose each indivduals Genre into a Feature and reporesent the abscence of existance of a Genre by binary data: 1 for yes and 0 for no.

### Genres list

In [7]:
df_genre = df.copy()
df_genre.dropna(subset = 'Genre', axis = 0, inplace = True)
genres = []
genres = set(genre for genre_list in df_genre['Genre'].str.split(',') for genre in genre_list)
print(genres)

{'Adventure', 'Sci-Fi', 'Romance', ' Mystery', ' Adventure', ' Thriller', ' Biography', 'History', ' Reality-TV', ' News', ' Music', ' War', 'Music', ' Western', 'Documentary', 'Reality-TV', 'Fantasy', 'Family', ' Family', ' Horror', 'War', 'Action', ' Musical', 'Thriller', ' Sci-Fi', 'Comedy', ' Romance', ' Action', 'Animation', ' Short', ' Drama', ' Fantasy', ' Crime', 'Sport', ' History', ' Comedy', ' Sport', 'Biography', 'Musical', 'Crime', 'Mystery', 'Drama', 'Horror'}

### Preprocessing pipeline

In [8]:
def imputate(dataset):
    '''Since we are looking to predict the rating of a movie, it's better to keep only rows with valid 'Rating' entries
    instead of just filling in with some variable.
    For the genre, we'll keep only the main genre of the film, suppossing that the first one in order is the main one.
    '''
    
    dataset.dropna(subset= ['Rating', 'Votes', 'Year', 'Director', 'Actor 1'], axis = 0, inplace = True)
    
    

    # Here we are only keeping the main genre of the movie to ensure a proper training set.
    df['Genre'] = df['Genre'].str.split(',', expand=True)[0]

    dataset.dropna(subset = 'Genre', axis = 0 , inplace = True)
    return dataset


def reformat(dataset):
    # Remove parentheses from the 'Year' column and convert to integer
    dataset['Year'] = dataset['Year'].str.strip('()').astype(int)
    dataset['Duration'] = dataset['Duration'].str.rstrip(' min').astype(float)
    dataset['Rating'] = dataset['Rating'].astype(float)
    dataset['Votes'] = dataset['Votes'].astype(float)
    
    # Missing values
    columns = ['Year', 'Duration', 'Rating', 'Votes']
    
    for a in columns:
        dataset[a].fillna(dataset[a].mean(), inplace = True)
        
    return dataset


def preprocessing(dataset):
    
    imputate(dataset)
    reformat(dataset)
    
    X = dataset.drop('Rating', axis = 1)
    Y = dataset['Rating']
    return X, Y

In [9]:
preprocessing(df)

(                                     Name  Year    Duration   Genre   Votes  \
 1      #Gadhvi (He thought he was Gandhi)  2019  109.000000   Drama     8.0
 3                                 #Yaaram  2019  110.000000  Comedy    35.0
 5                    ...Aur Pyaar Ho Gaya  1997  147.000000  Comedy   827.0
 6                               ...Yahaan  2005  142.000000   Drama  1086.0
 8                      ?: A Question Mark  2012   82.000000  Horror   326.0
 ...                                   ...   ...         ...     ...     ...
 15501                     Zulm Ki Hukumat  1992  132.796554  Action   135.0
 15503                     Zulm Ki Zanjeer  1989  125.000000  Action    44.0
 15504                 Zulm Ko Jala Doonga  1988  132.796554  Action    11.0
 15505                               Zulmi  1999  129.000000  Action   655.0
 15508                        Zulm-O-Sitam  1998  130.000000  Action    20.0

                 Director           Actor 1                 Actor 2  \
 1          Gaurav Bakshi      Rasika Dugal          Vivek Ghamande
 3             Ovais Khan           Prateik              Ishita Raj
 5           Rahul Rawail        Bobby Deol  Aishwarya Rai Bachchan
 6         Shoojit Sircar   Jimmy Sheirgill          Minissha Lamba
 8          Allyson Patel         Yash Dave          Muntazir Ahmad
 ...                  ...               ...                     ...
 15501  Bharat Rangachary        Dharmendra     Moushumi Chatterjee
 15503    S.P. Muthuraman       Chiranjeevi              Jayamalini
 15504      Mahendra Shah  Naseeruddin Shah           Sumeet Saigal
 15505         Kuku Kohli      Akshay Kumar          Twinkle Khanna
 15508       K.C. Bokadia        Dharmendra              Jaya Prada

                Actor 3
 1        Arvind Jangid
 3      Siddhant Kapoor
 5        Shammi Kapoor
 6       Yashpal Sharma
 8         Kiran Bhatia
 ...                ...
 15501          Govinda
 15503      Rajinikanth
 15504    Suparna Anand
 15505      Aruna Irani
 15508      Arjun Sarja

 [7707 rows x 9 columns],
 1        7.0
 3        4.4
 5        4.7
 6        7.4
 8        5.6
         ...
 15501    5.3
 15503    5.8
 15504    4.6
 15505    4.5
 15508    6.2
 Name: Rating, Length: 7707, dtype: float64)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7707 entries, 1 to 15508
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      7707 non-null   object
 1   Year      7707 non-null   int64
 2   Duration  7707 non-null   float64
 3   Genre     7707 non-null   object
 4   Rating    7707 non-null   float64
 5   Votes     7707 non-null   float64
 6   Director  7707 non-null   object
 7   Actor 1   7707 non-null   object
 8   Actor 2   7641 non-null   object
 9   Actor 3   7558 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 662.3+ KB

### Data's Format

In [11]:
for a in df.columns:
    column_format = df[a].apply(lambda x: type(x)).unique()

    if len(column_format) == 1:
        print(f"All values in the '{a}' column have the same format: {column_format[0]}")
    else:
        print(f"Values in the '{a}' column have different formats: {column_format}")

All values in the 'Name' column have the same format: <class 'str'>
All values in the 'Year' column have the same format: <class 'int'>
All values in the 'Duration' column have the same format: <class 'float'>
All values in the 'Genre' column have the same format: <class 'str'>
All values in the 'Rating' column have the same format: <class 'float'>
All values in the 'Votes' column have the same format: <class 'float'>
All values in the 'Director' column have the same format: <class 'str'>
All values in the 'Actor 1' column have the same format: <class 'str'>
Values in the 'Actor 2' column have different formats: [<class 'str'> <class 'float'>]
Values in the 'Actor 3' column have different formats: [<class 'str'> <class 'float'>]

<br>
<p>Here we notice that some entries for Feature `Actor 2` and `Actor 3` have different formats, that is because some entries are missing and the missing values `NaN` is considered as a `float` variable.</p>
To verify this, we can use the following command :

In [20]:
print('String entries in `Actor 2` : \n', df[df['Actor 2'].apply(lambda x: isinstance(x, float))])

String entries in `Actor 2` :
                                       Name  Year    Duration        Genre  \
609                          Adam Ka Janam  1989  132.796554        Drama
1245                             AquaTales  2012   74.000000    Animation
2002                   Belly of the Tantra  2012   90.000000  Documentary
2055                 Beyond All Boundaries  2013   97.000000  Documentary
2454                        Blood Relation  2015  132.796554        Drama
2931                           Cheer Haran  2021   98.000000  Documentary
3134                      Chudail Ka Badla  2005  132.796554       Horror
3180                            Coal India  2015   48.000000  Documentary
3272                Daag: The Burning Fire  2002  132.796554       Action
3774                             Dhoomketu  1985  113.000000        Drama
3879                      Dil Lagake Dekho  1989  132.796554        Drama
4193                    Drying for Freedom  2011   60.000000  Documentary
4681        Fearless: The Hunterwali Story  1994   62.000000  Documentary
4743                  Flying on One Engine  2008   51.000000  Documentary
4947         Gaurav Gupta: Market Down Hai  2021   50.000000       Comedy
5307                 Gunehgar the Criminal  1982  132.796554       Action
5484                Hanuman vs. Mahiravana  2018   91.000000    Animation
5737                       History of Yoga  2015  132.796554  Documentary
6285                Jaan Likhu Janam Likhu  2001  132.796554        Music
7137                                 Kajri  2013   84.000000        Drama
7245                              Kamlabai  1992   46.000000  Documentary
7726   Kings of The Wind & Electric Queens  2014   56.000000  Documentary
7882                          Kuch Alag Sa  2014  132.796554        Drama
7970                                Laadli  2001   97.000000       Family
8107           Lal Bhi Udhaas Ho Sakta Hai  2015   60.000000  Documentary
8499                         Made in India  2010   95.000000  Documentary
8790               Man On Mission Jaanbaaz  2005  125.000000       Action
9065                          Meena Bazaar  1950  132.796554        Drama
9139                         Menstrual Man  2013   63.000000  Documentary
9312               Mighty Raju Rio Calling  2014   99.000000    Animation
9425                              MMS Kand  2014   99.000000      Romance
9588               Much Ado About Knotting  2012  132.796554  Documentary
9725       Musings of an Uninspired Artist  2020   74.000000        Drama
9868                 Naga the Eternal Yogi  2016   73.000000  Documentary
9953                                Nandan  1998   82.000000        Drama
10941                               Praana  2019  107.000000        Crime
10944                        Prabhat pheri  2014   89.000000  Documentary
11017                           Prem Jyoti  1985  132.796554      Romance
11078                         Prince Vaali  2011  175.000000       Action
11358                     Qatilon Ka Qatil  2004  132.796554       Action
11704                             Ram-Path  2017  132.796554  Documentary
12178                                Sadhu  2012   90.000000  Documentary
12392                           Sanjeevani  2018  132.796554        Drama
12996                     Sherdil Ladkiyan  1985  132.796554       Action
13011                              Shikaar  1996  132.796554       Action
13178             SHUDRA: The Untouchables  2011  116.000000        Drama
13228                        Sinbad Jahazi  1952  132.796554    Adventure
13300                              Siyasat  1988  132.796554       Action
13414        Spirit of Moksha - Kumbh Mela  2010   61.000000  Documentary
13461                     Strawberry Point  2020  132.796554     Thriller
13493                          Subah Subah  1983  132.796554      Romance
13592          Super Bheem Hawa Mein Halla  2016  132.796554    Animation
13642                       Swami Ayyappan  2012   90.000000    Animation
14017                         The Chalbaaz  1997  137.000000       Action
14023                The Cinema Travellers  2016   96.000000  Documentary
14089     The Great Indian Marriage Bazaar  2011   60.000000  Documentary
14132                   The Karma Killings  2016   83.000000  Documentary
14190          The Nincompoops Hindi Movie  2013  107.000000       Comedy
14363                          Tipu Sultan  1959  132.796554       Action
14381                Tomorrow We Disappear  2014   80.000000  Documentary
14720                Vaibhav Sethia: Don't  2018   61.000000       Comedy
14820                            Veergatha  2016  132.796554      History
14832                              Verdict  2019   78.000000      Mystery
14999                        War and Peace  2002  148.000000  Documentary
15052                When Hari Got Married  2013   75.000000  Documentary
15304                    Yodha the Warrior  2002  132.796554       Action

       Rating  Votes                Director                      Actor 1  \
609       5.5    6.0                  Sanjay                      Supriya
1245      3.1   75.0              Ivan Oneka                Gorka V�zquez
2002      7.6   11.0          Pankaj Purohit               Pankaj Purohit
2055      8.0  158.0            Sushrut Jain                 Kunal Nayyar
2454      6.3    6.0    Sanjeev Kumar Rajput                 Sunny Thakur
2931      9.1  123.0           Kuldeep Ruhil                Kuldeep Ruhil
3134      7.8   25.0               Raj Mohan                  Ponnambalam
3180      8.0    6.0               Ajay Koli                 Felix Roeben
3272      7.0   25.0          Aarthi Agarwal                  Mahesh Babu
3774      6.4    8.0       K. Gopal Krishnan              Manohar Mahajan
3879      4.4   10.0    Krishna Ghattamaneni                      Sridevi
4193      7.3   22.0             Steven Lake                     Alex Lee
4681      7.6    7.0       Riyad Vinci Wadia               Fearless Nadia
4743      7.9   25.0      Joshua Z Weinstein        Sharadkumar Dicksheet
4947      7.5  226.0            Neville Shah                 Gaurav Gupta
5307      4.4    5.0            Kamal Haasan                     Sripriya
5484      6.9  103.0            Ezhil Vendan                 Rajesh Jolly
5737      7.5    6.0         Deepika Kothari                        Ramji
6285      3.3    9.0           Shahid Kapoor                 Ayesha Takia
7137      6.0   48.0             Hyder Kazmi                 Arpita Singh
7245      7.6    8.0             Reena Mohan             Kamlabai Gokhale
7726      6.2   16.0           C�dric Dupire               Gaspard Kuentz
7882      6.6    8.0   Sanghamitra Chaudhuri               Samiksha Bhatt
7970      8.8    5.0           Mazahir Rahim               Kireet Khurana
8107      6.6    5.0              Amit Dutta                    Ram Kumar
8499      7.1   33.0       Rebecca Haimowitz               Vaishali Sinha
8790      4.7  137.0              Mohan Babu                   Raghu Babu
9065      7.9   13.0           Ravindra Dave                       Nargis
9139      8.2   78.0            Amit Virmani                 Aditi Mittal
9312      4.5   35.0           Rajiv Chilaka             Anirban Majumder
9425      7.8   11.0              Kanti Shah                  Sapna Sappu
9588      5.9    8.0   Geetika Narang Abbasi               Anandana Kapur
9725      7.5    8.0            Ronit Jadhav                 Ronit Jadhav
9868      7.2   86.0          Krishna Agazzi             Filippo Gastaldi
9953      6.0   10.0      Apurba Kishore Bir  Soubhagya Chandan Satapathy
10941     8.3  793.0            V.K. Prakash                 Nithya Menen
10944     6.6    7.0           Samarth Dixit               Jessica Sadana
11017     4.9    8.0    Krishna Ghattamaneni                      Sridevi
11078     5.8   11.0            Shiva Thejus               Daiana Menezes
11358     4.2    6.0           Chitra Shenoy           Darshan Thoogudeep
11704     9.4    5.0            Ashish Dubey                  Ishan Jacob
12178     6.8   59.0             Ga�l M�troz                   Suraj Baba
12392     2.8   23.0               Ravi Vide                Manoj Chandra
12996     8.1   17.0              Mohan Babu                       Swapna
13011     5.3   20.0        Urmila Matondkar                Jackie Shroff
13178     7.8   23.0          Sanjiv Jaiswal                Sridhar Dubey
13228     4.0    8.0          Nanabhai Bhatt                   Nirupa Roy
13300     3.1   15.0            Mahesh Bhatt               Neelam Kothari
13414     5.8    6.0           Rajeev Gautam                  Maya Sharma
13461     7.8    5.0           Prabal Baruah                 Karan Oberoi
13493     8.0   83.0  Indrajeet Singh Bansal                   Aamir Khan
13592     5.5   11.0           Rajiv Chilaka    Krishna Mohan Chintapatla
13642     7.6   37.0           Chetan Sharma              Mahesh Vettiyar
14017     8.3   49.0              Mohan Babu         Shilpa Shetty Kundra
14023     7.7   98.0         Shirley Abraham              Amit Madheshiya
14089     6.5   14.0        Ruchika Muchhala             Faiza Ahmad Khan
14132     6.9  169.0            Ram Devineni               Tushar Prakash
14190     6.8   21.0           Satish Torani               Abhishek Patel
14363     3.2   12.0              Anita Guha                 Paidi Jairaj
14381     8.0   80.0            Jim Goldblum                Adam M. Weber
14720     6.9  187.0      Manu Prakash Singh               Vaibhav Sethia
14820     4.7   10.0   Sanjeev Sharma Ronkel             Amitabh Bachchan
14832     4.7   11.0             Utkarsh Dev              Piyush Wankhede
14999     8.0  129.0        Anand Patwardhan             Anand Patwardhan
15052     7.0  168.0              Ritu Sarin                Tenzing Sonam
15304     6.6    8.0             Kirti Reddy                      Upendra

      Actor 2 Actor 3
609       NaN     NaN
1245      NaN     NaN
2002      NaN     NaN
2055      NaN     NaN
2454      NaN     NaN
2931      NaN     NaN
3134      NaN     NaN
3180      NaN     NaN
3272      NaN     NaN
3774      NaN     NaN
3879      NaN     NaN
4193      NaN     NaN
4681      NaN     NaN
4743      NaN     NaN
4947      NaN     NaN
5307      NaN     NaN
5484      NaN     NaN
5737      NaN     NaN
6285      NaN     NaN
7137      NaN     NaN
7245      NaN     NaN
7726      NaN     NaN
7882      NaN     NaN
7970      NaN     NaN
8107      NaN     NaN
8499      NaN     NaN
8790      NaN     NaN
9065      NaN     NaN
9139      NaN     NaN
9312      NaN     NaN
9425      NaN     NaN
9588      NaN     NaN
9725      NaN     NaN
9868      NaN     NaN
9953      NaN     NaN
10941     NaN     NaN
10944     NaN     NaN
11017     NaN     NaN
11078     NaN     NaN
11358     NaN     NaN
11704     NaN     NaN
12178     NaN     NaN
12392     NaN     NaN
12996     NaN     NaN
13011     NaN     NaN
13178     NaN     NaN
13228     NaN     NaN
13300     NaN     NaN
13414     NaN     NaN
13461     NaN     NaN
13493     NaN     NaN
13592     NaN     NaN
13642     NaN     NaN
14017     NaN     NaN
14023     NaN     NaN
14089     NaN     NaN
14132     NaN     NaN
14190     NaN     NaN
14363     NaN     NaN
14381     NaN     NaN
14720     NaN     NaN
14820     NaN     NaN
14832     NaN     NaN
14999     NaN     NaN
15052     NaN     NaN
15304     NaN     NaN

<h2 style="padding : 10px; text-align: center;"> Quick summary of preprocessing:</h2>

We performed many steps, here's a quick recap:
 - **Dealing with missing values**: We detected many missing values from the dataset, that's why we decided to drop some and fill the other. Since we are looking to predict the Rating of movies, we decided to only keep the valid rows to secure the integrity of our dataset. Next, we modified the Genre Feature such that we only maintain one main genre of the movie, and not three.
 - **Data format**: We made sure that each value for the 'Duration' and 'Year' Feature were formatted correctly.
 - **Artist**: we dropped rows in which the first artist or the main actor is missing.

<h2 style ="">Statistics</h2>