# TITANIC SURIVAL PREDICTION
## Data set:
In the early hours of April 15, 1912, the RMS Titanic, a luxurious ocean liner hailed as "unsinkable," met a tragic fate in the icy waters of the North Atlantic. On its maiden voyage from Southampton to New York City, the ship collided with an iceberg, tearing open its hull and sealing the fate of over 1,500 passengers and crew.

Despite being equipped with advanced safety features, including watertight compartments and wireless telegraphy, the Titanic's catastrophic sinking shocked the world and sparked sweeping reforms in maritime safety standards. This iconic disaster serves as a stark reminder of the frailty of human endeavors in the face of nature's unyielding force.

#### Data Set Source : https://www.kaggle.com/datasets/yasserh/titanic-dataset

## Study's goal : 
    Determine if a passenger survived the horrible disaster or not based on feature like: Age, Genre, Social status...

## Documentes structure:
1. Data collection
2. Data preprocessing/preparation
3. Modele construction and implemention 
4. Evaluation of the modele and optimisation

# 1. Data Colletion
To handle the data set, we tend to use two famous libraries: 

    Pandas: A powerful Python library for data manipulation and analysis, offering data structures like DataFrame for easy handling of structured data.

    NumPy: The fundamental package for numerical computing in Python, providing support for large, multi+dimensional arrays and matrices, along with a wide range of mathematical functions.
    
    Matplotlib.pyplot: A module within the Matplotlib library that provides a MATLAB+like interface for creating static, interactive, and publication+quality visualizations in Python, facilitating the creation of plots, charts, histograms, and more.

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### showcase the version of the libraries imported

In [12]:
print('Pandas version: ',pd.__version__)
print('NumPy version: ',np.__version__)
print("Matplotlib version: ", plt.matplotlib.__version__)

Pandas version:  2.0.3
NumPy version:  1.24.3
Matplotlib version:  3.7.2

### Different methods of importing data using pandas library:
    1. pandas.read_csv() ; to read .csv type files.
    2. pandas.read_json() ; to read Jason type files.
    3. pandas.read_excel() ; to read .xls/Excel speadcheet type of files.
    4. pandas.read_html() ; to read html type of documents and files

In [13]:
df = pd.read_csv("Titanic-Dataset.csv")

    The function pd.read_csv() makes it possible to import and convert type from .csv file into a instances of class <dataframe>
    
    Pandas DataFrame: In a Nutshell

        Core structure for data in Pandas.

        Think spreadsheet: rows & columns with labels.

        Holds various data types: numbers, text, etc.

        Efficient data manipulation & analysis.

        Foundation for data science workflows.

# 2. Data visualization 
## 2.1 Brief description of the data set and a summary of its attributes : 
In this step, I'll try to explain the different dimensions and aspect of the dataset, including the different columns, number of entries, search for null values and much more.

### The method `df.columns` select all the columns that exist in our database, then the method `to_list()` transforms those selected columns into a list to make them more preseantable

In [20]:
print('\n The different columns of the set are : \n\n', df.columns.to_list(), '\n')

 The different columns of the set are :

 ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

## 2.3 Dataset variable and definitions: 
The titanic dataset gives you information about multiple people like their ages, sexes, sibling counts, embarkment points and whether or not they survived the disaster. Based on these features, we have to predict if an arbitrary passenger on Titanic would survive the sinking.
Generally, we can divide the data into two main categories:
 + Numerical data : Which is basically data that is repsresented by number.
     - Discret numerical data : Data is formed entirely by integer values, either positive or negative.
     - Real values numerical data : Data is formed either from integer, of float/real values and possibly complexe numbers
 + descriptifs data : This is data that are presented as text or string values, like the color of the eyes ( Blue, Red, Black, ...), Gender of a person...

## The method `head(n: int = )` returns the first n elements in our dataset, if no number is specified, the function returns the first five row of the dataframe.

In [30]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Categorisation of data:
#### Numerical data : 
 + PassengerId : 
 + Survived : 
 + Pclass : 
 + Age : 
 + SibSp : 
 + Parch : 
 + Fare :
#### Descriptif data :
 + Name : 
 + Ticket : 
 + Cabin : 
 + Emarked: